<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="weatherData">
    <h2>{{ weatherData.name }}</h2>
    <p>Temperatura: {{ weatherData.main.temp }}°C</p>
    <p>Clima: {{ weatherData.weather[0].description }}</p>
    <p>Umidade: {{ weatherData.main.humidity }}%</p>
    <p>Velocidade do Vento: {{ weatherData.wind.speed }} m/s</p>
  </div>
  <ion-button class="button" (click)="voltar()">Voltar</ion-button>
</ion-content>