<ion-header>
  <ion-toolbar>
    <ion-title>ProTemp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bem-vindo ao ProTemp!</h1>
  <p>Com este app, você pode:</p>
  <ul>
    <li>Buscar o clima atual da sua cidade</li>
    <li>Ver detalhes específicos do clima</li>
    <li>Acompanhar a previsão do tempo para os próximos dias</li>
  </ul>

  <!-- Botões de Navegação -->
  <ion-button expand="block" routerLink="/search">
    Buscar Clima
  </ion-button>

</ion-content>
